<div class="battle" style="font-size: 32px;padding: 0 10px;overflow: scroll;">
     <a class="backButton" href="#/setting"><</a><h1>Помощь</h1>
    <p>    Эта обучающее приложение, создано в первую очередь для студентов медицинских ВУЗов, работников мед.учреждений и просто для тех, кому интересно.
    </p>
    <p>1. Нажав на "Новая игра" вам будет предложено два режима игры:
        - Баттл - соревнование с другими игроками, отвечая на вопросы поочередно;
        - Марафон - большое количество подряд идущих вопросов, отличный вариант для студентов, которые готовятся к экзаменам.
        У вас есть ограниченное время, в течении которого вы должны дать правильный ответ.
    </p>
    <p>2. Все ваши результаты сводятся к статистике, что позволит наблюдать вам за вашим прогрессом и соревноваться с друзьями.
        По вопросам разработки обращаться по адресу:
        info@skrygroup.com
    </p>
</div>