<div class="krockPage">
    <a class="header" href="#/mainmenu"><</a><h1>Марафон</h1>
    <ul class="krockList">
        <li  ng-repeat="krock in krocks" >
            <a ng-click="selectKrock(this.krock.id)"><span>Крок {{krock.id}}</span>{{krock.krock}}</a>
        </li>
    </ul>
    <a class="playClassicBuclet">Играть классический набор</a>
    <h1 class="categoryChanger">Выбор категорий:</h1>
    <ul ng-show="isKrockSelected" class="categories">
        <li  ng-repeat="(key,cat) in categories">
            <a data-number="{{this.cat.id}}" ng-click="setCategory(this.key)">{{cat._name}}<img name="category" class="isUnselectedCat" alt="isSelect" src="img/galochka.png"></a>
        </li>
    </ul>
    <div class="btnPlayPar">
        <button class="btnPlay" ng-click="playCrock()">Играть</button>
    </div>
</div>