<div ng-app="gameModule">
    <div class="mainMenu">
        <nav>
            <a ng-click="openMenu()"><i class="fa fa-cog"></i></a>
            <a ng-click="openStatistic()"><i class="fa fa-list-alt"></i></a>  
        </nav>
        <a class="newGameBtn" href="#/newgame">> Новая игра <</a>
        <ul class="openGamesList">
            <li ng-repeat="game in games">
                <img alt="img" class="imgOpp" src="img/avatar_m_2.png"> <a href="#/newgame/{{game.id}}" >
                    <span class="opponentNickAndStep">
                        <span class="headerNick">{{checkHost(game.host) ? game.player2 : game.host}}</span>
                        <span class="step">
                            {{game.status==='8'?'Ваш ход':(game.waitStepSecondPlayer?'Ваш ход':'Ход соперника')}}
                        </span>
                    </span>
                    <span class="roundpart" ><span class="headerNick">{{getCurrentRound(game)}}</span> <br>Раунд</span>
                </a>
            </li>
            <ul class="versusList">
                <li ng-repeat="vers in versus">
                    <span class="opponent" ng-click="accept(this.vers.id,this.vers.host,this.vers.p2)">Принять</span><span class="opponent"> Вызов от <br>{{vers.host}}</span><span class="opponent" ng-click="reject(this.vers.id)">Отклонить</span>
                </li>
            </ul>   
        </ul>
        <div>

        </div>
        <div class="historyCnt">
            <!--<a class="historyBtn" ng-click="refresh()">Обновить</a>-->
            <a class="historyBtn" href="#/history">История</a>

        </div>


        <!--        <ul>
                    <li ng-repeat="game in gamesHistory">
                        <span>{{game}}</span>
                    </li>
                </ul>-->
    </div>
</div>