<div ng-app="gameModule">
    <div class="mainMenu">
        <nav>
            <a ng-click="openMenu()"><i class="fa fa-cog"></i></a>
            <a><i class="fa fa-list-alt"></i></a>  
        </nav>
        <a class="newGameBtn" href="#/newgame">Новая игра</a>
        <ul>
            <li ng-repeat="game in games">
                <a href="#/newgame/{{game.id}}" >
                    <span class="opponentNickAndStep">
                        <span>{{checkHost(game.host) ? game.player2 : game.host}}</span>
                        <span class="step">
                            {{game.status==='8'?'Ваш ход':(game.waitStepSecondPlayer?'Ваш ход':'Ход соперника')}}
                        </span>
                    </span>
                    <span class="roundpart" >Раунд <br>{{getCurrentRound(game)}}</span>
                </a>
            </li>
        </ul>
        <div class="historyCnt">
            <a class="historyBtn" ng-click="refresh()">Обновить</a>
            <a class="historyBtn" href="#/history">История</a>
           
        </div>
        

        <!--        <ul>
                    <li ng-repeat="game in gamesHistory">
                        <span>{{game}}</span>
                    </li>
                </ul>-->
    </div>
</div>