<div class="newGame">
    <a class="backButton" href="#/mainmenu"><</a><h1>Новая игра</h1>
    <!--<h1></h1>-->
    <div class="selectSettingGame">
        <!--<h1>Марафон</h1>-->
        <nav>
            <!--href="#/choisecategoty"-->
            <a data-number="0" class="multiPlGame" ng-click="monoPlayer()"><i class="fa fa-user"></i>Марафон</a>
            <a data-number="1" class="multiPlGame" ng-click="RandomOpponent($event)"><i class="fa fa-flag-o"></i>Случайный соперник</a>
            <a data-number="2" class="multiPlGame" ng-click="SearcByName()" href=""><i class="fa fa-binoculars" ></i>Поиск по имени</a>
        </nav>
        <ul>
            <li ng-repeat="activegame in activegames">

            </li>
        </ul>
        <ul>
            <li ng-repeat="game in games">
                <a href="#/newgame/{{game.id}}" >GAME: {{checkHost(game.host) ? game.host : game.player2}}</a>
            </li>
        </ul>
     

    </div>
</div>
