<div class="CurrKrock"> 
    <!--<a ng-click="Getquestion()">GetQue</a>-->
    <h2>{{questCount}}/{{totalQuestions}}<span ng-click="EndGame()">X</span></h2>
    <div class='BlockGetQuestionInMonoPlayer' ng-hide="getQuestionActive" ></div>

    <div ng-hide="isGetQuestBtnActive">
        <div class='BlockQuestion' ng-show="getQuestionActive"></div>
        <h1 class="questionText"  ng-click="getquestion()">{{currentQuestion.question}}</h1>
         <div class="timeLine" style="margin: 5px 0;" ng-style="line"></div>
        <ul>
            <li class="answerText"  ng-repeat="(key,answer) in answeres">
                <a ng-click="checkAnswer(this, key)">{{answer.text}}</a>
            </li>
          
        </ul>
    </div>
</div>