<div class="questPage">
    <!--<a ng-click="Getquestion()">GetQue</a>-->
    <div class='BlockGetQ' ng-hide="getQuestionActive" ></div>
    <div style="padding: 20px 0 0 0;text-align: center;"> <button class="getQuest"  ng-click="Getquestion()">{{categoryName}}</button></div>
    <div ng-hide="isGetQuestBtnActive">
        <div class='BlockQuestion' ng-show="getQuestionActive"></div>
        <h1 class="questionText">{{currentQuestion}}</h1>
        <div class="timeLine" style="margin: 5px 0;" ng-style="line"></div>
        <ul>
            <li class="answerText"  ng-repeat="(key,answer) in answeres">
                <a ng-click="checkAnswer(this,key)">{{answer.text}}</a>
            </li>
        </ul>
    </div>
</div>