<div>
    <!--<a ng-click="Getquestion()">GetQue</a>-->
    <div class='BlockGetQ' ng-hide="getQuestionActive" ></div>
    <button class="getQuest"  ng-click="Getquestion()">{{categoryName}}</button>
    <div ng-hide="isGetQuestBtnActive">
        <div class='BlockQuestion' ng-show="getQuestionActive"></div>
        <h1 class="questionText">{{currentQuestion}}</h1>
        <ul>
            <li class="answerText"  ng-repeat="(key,answer) in answeres">
                <a ng-click="checkAnswer(this,key)">{{answer.text}}</a>
            </li>
        </ul>
    </div>
</div>