<div class="battle"><a href="#/mainmenu"><</a><h1>Схватка</h1>
    <!--    <div>
            <span>{{game.host}}</span>
            <span>-</span>
            <span>{{game.player2===''?'Случайный игрок':game.player2}}</span>
            {{game.scoreP1r1+game.scoreP1r2+game.scoreP1r3+game.scoreP1r4+game.scoreP1r5+game.scoreP1r6}}
            {{game.scoreP2r1+game.scoreP2r2+game.scoreP2r3+game.scoreP2r4+game.scoreP2r5+game.scoreP2r6}}
        </div>-->
    <table border="1">

        <tr>
            <th>Раунд</th>
            <th class="pl1res">Вы</th>
            <th>{{checkHost(game.host) ? game.player2 : game.host}}</th>
        </tr>
        <tr><td class="roundTable">1</td><td class="pl1res"><button ng-show="CurRoundGet===1&&game.waitStepSecondPlayer" ng-click="play()">Играть</button><span ng-hide='CurRoundGet===1'>------</span></td><td><i ng-show="CurRoundGet===1||game.waitStepSecondPlayer" class="fa fa-question-circle"></i><span ng-hide='CurRoundGet===1'>------</span></td></tr>
        <tr><td class="scoreTable">{{checkHost(game.host) ? (game.scoreP1r1 === null ? '-' : game.scoreP1r1) : (game.scoreP2r1 === null ? '-' : game.scoreP2r1)}}_{{checkHost(game.host) ? (game.scoreP2r1 === null ? '-' : (game.scoreP1r1 === null ? '-' : game.scoreP2r1)) : (game.scoreP1r1 === null ? '-' : (game.scoreP2r1 === null ? '-' : game.scoreP1r1))}}</td></tr>
        <tr><td class="roundTable">2</td><td class="pl1res"><button ng-show="CurRoundGet===2&&game.waitStepSecondPlayer" ng-click="play()">Играть</button><span ng-hide='CurRoundGet===2'>------</span></td><td><i ng-show="CurRoundGet===2||game.waitStepSecondPlayer" class="fa fa-question-circle"></i><span ng-hide='CurRoundGet===2'>------</span></td></tr>
        <tr><td class="scoreTable">{{checkHost(game.host) ? (game.scoreP1r2 === null ? '-' : game.scoreP1r2) : (game.scoreP2r2 === null ? '-' : game.scoreP2r2)}}_{{checkHost(game.host) ? (game.scoreP2r2 === null ? '-' : (game.scoreP1r2 === null ? '-' : game.scoreP2r2)) : (game.scoreP1r2 === null ? '-' : (game.scoreP2r2 === null ? '-' : game.scoreP1r2))}}</td></tr>
        <tr><td class="roundTable">3</td><td class="pl1res"><button ng-show="CurRoundGet===3&&game.waitStepSecondPlayer" ng-click="play()">Играть</button><span ng-hide='CurRoundGet===3'>------</span></td><td><i ng-show="CurRoundGet===3||game.waitStepSecondPlayer" class="fa fa-question-circle"></i><span ng-hide='CurRoundGet===3'>------</span></td></tr>
        <tr><td class="scoreTable">{{checkHost(game.host) ? (game.scoreP1r3 === null ? '-' : game.scoreP1r3) : (game.scoreP2r3 === null ? '-' : game.scoreP2r3)}}_{{checkHost(game.host) ? (game.scoreP2r3 === null ? '-' : (game.scoreP1r3 === null ? '-' : game.scoreP2r3)) : (game.scoreP1r3 === null ? '-' : (game.scoreP2r3 === null ? '-' : game.scoreP1r3))}}</td></tr>
        <tr><td class="roundTable">4</td><td class="pl1res"><button ng-show="CurRoundGet===4&&game.waitStepSecondPlayer" ng-click="play()">Играть</button><span ng-hide='CurRoundGet===4'>------</span></td><td><i ng-show="CurRoundGet===4||game.waitStepSecondPlayer" class="fa fa-question-circle"></i><span ng-hide='CurRoundGet===4'>------</span></td></tr>
        <tr><td class="scoreTable">{{checkHost(game.host) ? (game.scoreP1r4 === null ? '-' : game.scoreP1r4) : (game.scoreP2r4 === null ? '-' : game.scoreP2r4)}}_{{checkHost(game.host) ? (game.scoreP2r4 === null ? '-' : (game.scoreP1r4 === null ? '-' : game.scoreP2r4)) : (game.scoreP1r4 === null ? '-' : (game.scoreP2r4 === null ? '-' : game.scoreP1r4))}}</td></tr>
        <tr><td class="roundTable">5</td><td class="pl1res"><button ng-show="CurRoundGet===5&&game.waitStepSecondPlayer" ng-click="play()">Играть</button><span ng-hide='CurRoundGet===5'>------</span></td><td><i ng-show="CurRoundGet===5||game.waitStepSecondPlayer" class="fa fa-question-circle"></i><span ng-hide='CurRoundGet===5'>------</span></td></tr>
        <tr><td class="scoreTable">{{checkHost(game.host) ? (game.scoreP1r5 === null ? '-' : game.scoreP1r5) : (game.scoreP2r5 === null ? '-' : game.scoreP2r5)}}_{{checkHost(game.host) ? (game.scoreP2r5 === null ? '-' : (game.scoreP1r5 === null ? '-' : game.scoreP2r5)) : (game.scoreP1r5 === null ? '-' : (game.scoreP2r5 === null ? '-' : game.scoreP1r5))}}</td></tr>
        <tr><td class="roundTable">6</td><td class="pl1res"><button ng-show="CurRoundGet===6&&game.waitStepSecondPlayer" ng-click="play()">Играть</button><span ng-hide='CurRoundGet===6'>------</span></td><td><i ng-show="CurRoundGet===6||game.waitStepSecondPlayer" class="fa fa-question-circle"></i><span ng-hide='CurRoundGet===6'>------</span></td></tr>
        <tr><td class="scoreTable">{{checkHost(game.host) ? (game.scoreP1r6 === null ? '-' : game.scoreP1r6) : (game.scoreP2r6 === null ? '-' : game.scoreP2r6)}}_{{checkHost(game.host) ? (game.scoreP2r6 === null ? '-' : (game.scoreP1r6 === null ? '-' : game.scoreP2r6)) : (game.scoreP1r6 === null ? '-' : (game.scoreP2r6 === null ? '-' : game.scoreP1r6))}}</td></tr>

    </table>

    <!--    <ul>
            <li>
                <span>{{game.scoreP1r1}}</span>
                <span>РАУНД 1 "Категория" {{game.round1}}</span>
                <span>{{game.scoreP2r1}}</span>
            </li>
            <li>
                <span>{{game.scoreP1r2}}</span>
                <span>РАУНД 2 "Категория" {{game.round2}}</span>
                <span>{{game.scoreP2r2}}</span>
            </li>
            <li>
                <span>{{game.scoreP1r3}}</span>
                <span>РАУНД 3 "Категория" {{game.round3}}</span>
                <span>{{game.scoreP2r3}}</span>
            </li>
            <li>
                <span>{{game.scoreP1r4}}</span>
                <span>РАУНД 4 "Категория" {{game.round4}}</span>
                <span>{{game.scoreP2r4}}</span>
            </li>
            <li>
                <span>{{game.scoreP1r5}}</span>
                <span>РАУНД 5 "Категория" {{game.round5}}</span>
                <span>{{game.scoreP2r5}}</span>
            </li>
            <li>
                <span>{{game.scoreP1r6}}</span>
                <span>РАУНД 6 "Категория" {{game.round6}}</span>
                <span>{{game.scoreP2r6}}</span>
            </li>
        </ul>-->
    <!--<button ng-show="game.waitStepSecondPlayer" ng-click="play()">Играть</button>-->
    <!--<span ng-hide="game.waitStepSecondPlayer">Ожидание хода 2 игрока</span>-->
</div>