html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:rgb(81, 81, 81);
    background: -webkit-linear-gradient(top, rgba(23, 241, 0, 0.31) , rgba(178, 178, 3, 0.34)) no-repeat;
    height: 100vh;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0 0 20px;
}
/*USERMODULE START*/
.inactive{
    display: none!Important;
}
.active{
    display: inline-block;
}

.galoshka{
    display: inline-block;
    width: 20px;
}
.selectLngPage{
    margin: 70px 0 0 0;
}
.selectLngPage h1{
    font-size: 22px;
    text-align: center;
}
.selectLngPage nav{
    text-align: center;
    margin: 30px 50px 0 0;
}
.selectLngPage nav a{
    position: relative;
    display: block;
    line-height: 2.5;
}
.selectLngPage nav a span{
    top: 8px;
    position: absolute;
    padding: 0 0 0 5px;
}
.selectLngPage nav a img{
    width: 50px;
}
.userinfo{
    text-align: center;
    font-size: 22px;
    margin: 30px 0 0 0;
}
.userinfo input{

}
.selectGender{
    padding: 20px;
    border-bottom: 1px solid rgb(0,0,0);
    text-align: center;
}
.selectGender input{
    border: 0;
    background: rgb(92, 175, 98);
    padding: 5px 10px;
    color: rgb(255,255,255);
}
.selectGender span{
    padding: 0 20px 0 20px;
}
.selectAvatar ul li{
    width: 25%;
    float: left;
}
.selectAvatar{
    margin-top: 20px;
}
.selectAvatar ul{
    overflow: hidden;
    margin-top: 30px;
    text-align: center;
}
.selectAvatar h2{
    text-align: center;
    font-size: 22px;
}
.footer{
    text-align: center;
}
.footer button{
    background: rgb(92, 175, 98);
    color: rgb(255,255,255);
    width: 90%;
    border: 0;
    font-size: 25px;
    padding: 10px 0;
    margin: 20px 0 20px 0;
}
.footer span{
    font-weight: 600;
}
.selectAvatar ul li img{
    border: 1px solid transparent;
    width: 70px;
}
.greenAvatar{
    border: 1px green solid!important;
}
/*USERMODULE END*/

/*GAMEMODULE START*/
.newGameBtn{
    color: rgb(80,80,80);
    font-size: 25px;
    font-weight: 600;
    border-bottom: 2px solid;
    display: block;
    padding: 0 0 10px 0;
}
.mainMenu{
    text-align: center;
}
.mainMenu ul li{
    margin: 20px 0 0 0;
    overflow: hidden;
    font-size: 22px;
}
.mainMenu ul li a{
    color: rgb(80,80,80);
}
.mainMenu nav{
    overflow: hidden;
}
.opponentNickAndStep{
    float: left;
    display: block;
    margin: 0 0 0 70px;
    text-align: left;
}
.step{
    display: block;
}
.roundpart{
    display: block;
    float: right;
    padding: 0 30px 0 0;
}
.mainMenu nav a:nth-child(2n+1) {
    display: block;
    text-decoration: none;
    float:left;
    padding: 10px;
}
.mainMenu nav a:nth-child(2n+2) {
    display: block;
    text-decoration: none;
    float:right;
    padding: 10px;
}
.mainMenu nav a  i{
    /*text-align: center;*/
    font-size: 30px;
    /*float: left;*/
    /*width: 48%;*/
}
.mainMenu h1{
    text-align: center;
}
.setting nav {
    text-align: center;
}
.setting nav a{
    display: block;
    text-decoration: none;
}
.battle{

}
.battle a{
    float:left;
    padding: 0 0 0 20px;
    font-size: 25px;
    color: rgb(81, 81, 81);
}
.battle h1{
    text-align: center;
    font-size: 25px;
}
.newGame{

}
.newGame a{
    float:left;
    padding-left: 20px;
    font-size: 25px;
    color: rgb(81, 81, 81);
}
.newGame h1{
    text-align: center;
    font-size: 25px;
}
/*.maraphone{
    display: block;
    border-bottom: 1px solid black;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 3px!important;
}*/
.multiPlGame{
    padding: 17px;
}
.selectSettingGame nav{
    text-align: center;
    margin: 25px 0 0 0;
}
.roundTable{
    padding: 10px 0 0 0;
    text-align: center;
}
.scoreTable{
    padding: 10px 0 0 0;
    text-align: center;
}
.battle button{
    margin: 10px 0 0 20px;
    background: green;
    border: none;
    font-size: 25px;
    color: rgb(255,255,255);
}
.selectCategory ul li {
    /*border: 0;*/
    margin: 20px 0 0 0;
}
.selectCategory ul li button {
    border: 1px #000 solid;
    width: 80%;
    padding: 10px 0 10px 0;

}
.selectCategory ul li:nth-child(3n+1) button{
    background: gold;
}
.selectCategory ul li:nth-child(3n+2) button{
    background: greenyellow;
}
.selectCategory ul li:nth-child(3n+3) button{
    background: rosybrown;
}
.selectCategory ul{
    margin: 20px 0 0 0;
    text-align: center;
}
.getQuest{
    display: block;
    border: 1px solid rgb(0,0,0);
    width: 70%;
    text-align: center;
    margin: 20px auto;
    padding: 30px 0 30px 0;
}
.questionText{
    border: 1px solid rgb(0,0,0);
    margin: 10px auto;
    width: 70%;
    display: block;
    text-align: center;
}
.answerText{
    border: 1px solid rgb(0,0,0);
    text-align: center;
    margin: 10px auto 10px auto;
    padding: 5px 0 5px 0;
    width: 70%;
}
.answerText a{
    display: block;
    width: 100%;
}
.historyCnt{
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0;
    padding: 0 0 20px 0px;
}
.historyBtn{
    background: #3E813E;
    color: white;
    padding: 5px 10px 5px 10px;
}
.hostyryBattle{

}
.hostyryBattle a.header{
    float:left;
    padding: 0 0 0 20px;
    font-size: 25px;
    color: rgb(81, 81, 81);
}
.hostyryBattle ul{

    margin: 20px 0 0 25%;
    /*margin: 20px 0 0 0;*/
}
.hostyryBattle h1{
    text-align: center;
    font-size: 25px;
}
.historyGames ul li{
    display: block;
    /*overflow: hidden;*/
    text-align: left;
    margin: 20px 0 0 0;
}
.opponentNickAndResult{
    font-size: 22px;
}
.BlockGetQ{
    height: 107px;
    width: 100%;
    position: absolute;
    top: 0;
}
.BlockQuestion{
    position: absolute;
    height: 200px;
    width: 100%;
}
.green{
    background: #0FE50F;
}
.red{
    background: red;
}
.pl1res{
    padding: 0 70px 0 70px;
}
.krockPage{
    display: block;

    padding: 0 10px 0 10px;
    font-size: 25px;
    color: rgb(81, 81, 81);
}
.krockPage a.header{
    float:left;
    padding: 0 0 0 20px;
    font-size: 25px;
    color: rgb(81, 81, 81);
}
.krockPage h1{
    text-align: center;
    font-size: 25px;
}
.krockPage ul{
    /*width: 20%;*/
}
.krockPage ul:after{
    display: block;
    content:'';
    clear: both;
}
.krockList li{
    margin: 10px 0 0 0;
    font-size: 15px;
}
.krockList li a{
    color: rgba(214, 188, 188, 0.76);
}
.krockList li span{
    padding: 0 50px 0 0px;
}
.krockAndSpec{
    overflow: hidden;
    width: 100%;
}
.krockList{
    float:left;
}
.specList{
    float: left;
    margin: 0 0 0 20px;
}
.specList li{
    margin: 10px 0 0 0;
    font-size: 15px;
}
.specList li a{
    color: rgba(214, 188, 188, 0.76);
}
.selectSpec {
    padding: 5px 0 5px 0;
    border-bottom: 1px solid rgb(81, 81, 81);
    border-top: 1px solid rgb(81, 81, 81);
}
.selectSpec a{
 color: rgb(81, 81, 81)!important;
}
.ActiveKrock{
    color:rgb(81, 81, 81);
}
.selectKrock{

    padding: 5px 0 5px 0;
    border-bottom: 1px solid rgb(81, 81, 81);
    border-top: 1px solid rgb(81, 81, 81);
}
.selectKrock a{
    color: rgb(81, 81, 81)!important;
}
.playClassicBuclet{
    display: block;
    font-size: 20px;
    margin: 20px 0 20px 0;
    border-bottom: 1px solid;
}
.categoryChanger{
    text-align: left!important;
    font-weight: 600;
}
.krockPage .categories {
    margin: 0 0 0 20px;
}
.krockPage .categories li{
    margin: 20px 0 0 0;
}
.krockPage .categories li a{
    width: 100%;
    display: block;
}
.isSelectedCat{
    display: inline-block;  
    float: right;
    width: 25px;
}
.isUnselectedCat{
    display: none;
}
.btnPlay{
    background: rgb(33, 110, 44);
    border: rgb(255,255,255) 1px solid;
    padding: 5px 15px 5px 15px;
    font-size: 22px;
    color: rgb(255,255,255);
}
.btnPlayPar{
    text-align: center;
    margin: 20px 0 0 0;
}
.BlockGetQuestionInMonoPlayer{
    height: 107px;
    width: 100%;
    position: absolute;
    top: 0;
    margin: 10px auto;
}
.CurrKrock h2{
    text-align: center;
}
.resultKrock a{
    float:left;
    padding: 0 0 0 20px;
    font-size: 25px;
    color: rgb(81, 81, 81);
}
.resultKrock h1{
    text-align: center;
    font-size: 25px;
}
.resultKrock h2{
    font-size: 16px;
    margin: 25px 0 0 20px;
}

/*.selectedCat{
    background: url('../img/galochka.png');
}*/
/*GAMEMODULE END*/

